@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.Sale-Com {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.Sale-Com::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}